./project/*.iml
./project/gradle
./project/local.properties
./project/idea/caches
./project/idea/libraries
./project/idea/modules.xml
./project/idea/workspace.xml
./project/idea/navEditor.xml
./project/idea/assetWizardSettings.xml
./project/DS_Store
./project/build
./project/captures
./project/externalNativeBuild
./project/cxx
./project/local.properties
